<%- include ../../partials/header.ejs %> 
<%- include ../../partials/navbar.ejs %> 
<%- include ../../partials/sidebar.ejs %>
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>Bank</h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item"><a href="/bank">Bank</a></li>
            <li class="breadcrumb-item active">Tambah</li>
          </ol>
        </div>
      </div>
    </div>
    <!-- /.container-fluid -->
  </section>

  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
            <div class="card card-primary">
                <div class="card-header">
                  <h3 class="card-title">Form tambah bank</h3>
                </div>
                <!-- /.card-header -->
                <!-- form start -->
                <form action="/bank/create" method="POST">
                  <div class="card-body">
                    <div class="form-group">
                      <label for="name">Nama pemilik</label>
                      <input type="text" name="name" class="form-control" id="name" placeholder="Masukkan nama pemilik" required>
                    </div>
                    <div class="form-group">
                      <label for="bankName">Nama bank</label>
                      <select class="form-control select2" style="width: 100%;" name="bankName" required>
                          <option value="" disabled selected>Pilih bank</option>
                          <option value="Bank Mandiri">Bank Mandiri</option>
                          <option value="Bank Rakyat Indonesia (BRI)">Bank Rakyat Indonesia (BRI)</option>
                          <option value="Bank Central Asia (BCA)">Bank Central Asia (BCA)</option>
                          <option value="Bank Negara Indonesia (BNI)">Bank Negara Indonesia (BNI)</option>
                          <option value="Bank Tabungan Negara (BTN)">Bank Tabungan Negara (BTN)</option>
                          <option value="Bank Syariah Indonesia (BSI)">Bank Syariah Indonesia (BSI)</option>
                          <option value="CIMB Niaga">CIMB Niaga</option>
                          <option value="Permata Bank">Permata Bank</option>
                          <option value="Panin Bank">Panin Bank</option>
                          <option value="Bank Danamon">Bank Danamon</option>
                      </select>
                    </div>
                    <div class="form-group">
                      <label for="noRekening">Nomor rekening</label>
                      <input type="number" name="noRekening" class="form-control" id="noRekening" placeholder="Masukkan nomor rekening" required>
                    </div>
                  </div>
                  <div class="card-footer">
                    <button type="submit" class="btn btn-primary">Simpan</button>
                  </div>
                </form>
              </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
  </section>
  <!-- /.content -->
</div>
<%- include ../../partials/footer.ejs %> 
<%- include ../../partials/js.ejs %>
